__pycache__/
node_modules/

# Python virtual environment
venv/

# Build
instance/

# Crawler login information
logindata.py

# Databases
*.sqlite

# Testing
.coverage
coverage/
htmlcov/

*.egg
*.egg-info/

# Temporary Files
*.swp
*~
