.header {
  background-color: #FFE874;
  min-height: 275px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.search-bar {
  width: 100%;
  height: 50px;

  background-color: #FFFFFF;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 5px;

  font-size: inherit;
  display: flex;
}

.search-input {
  border: none;
  background-color: #FFFFFF;
  border-radius: 5px 0 0 5px;
  height: inherit;
  padding-left: 15px;
  flex-grow: 1;
}

.search-button {
  background-color: #FF7335;
  color: #FFFFFF;
  width: 90px;
  border: none;
  height: inherit;
  border-radius: 0 5px 5px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  opacity: 0.8;
  transition: 0.2s;
}
