@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border-sizing: border-box;
}

body {
  font-family: 'Raleway', 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 50px;
  color: #000000;
}

.pl-inherit {
  padding-left: inherit
}

.mt-7 {
  margin-top: 5rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/** Orange Button **/
button {
  background-color: #FF7335;
  color: #FFFFFF;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  opacity: 0.8;
  transition: 0.2s;
}

/** Font **/
.font-18 {
  font-size: 18px;
}

.font-22 {
  font-size: 22px;
}

/** Logo **/

.logo-font {
  font-family: 'Bigelow Rules', serif;
  letter-spacing: 0.05em;
}

h1.logo-font {
  font-size: 100px;
  color: #112D38;
}

.logo-image {
  height: 100px;
}

/** Colors **/

.bg-yellow {
  background-color: #FFE874;
}

.bg-orange {
  background-color: #FF7335;
}

.bg-blue {
  background-color: #112D38;
}

/** Footer **/

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

